* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #393c41;
    font-family: 'Rubix',sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

#hamburger {
    display: none;
}

@keyframes animateDown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(3px);
    }
}

@media screen and (max-width: 1040px) {
    #hamburger {
        display: inline-block;
    }
}